/* The width is fixed in the body so that we follow the Figma design */
body {
    width: 1440px;
    margin: 0px;
    background-image: url("assets/background.png");
    background-repeat: no-repeat;
    color: white;
    font-family: "Source Sans Pro";
}

/* Task 2. Header and Banner */
/* The navbar */
nav {
    padding-top: 35px;
    padding-left: 172px;
    width: 1103px;
    height: 29px;
}

nav a {
    color: inherit;
    text-decoration: none;
    font-size: 12px;
    font-family: "Source Sans Pro";
}

#navbar_links {
    padding-left: 700px;
    text-decoration: none;    
}

.navbar-space {
    padding-left: 40px;
}

/* The banner */
#banner {
    height: 1029px;
}

#banner h1 {
    margin: 0px;
    padding-top: 155px;
    font-size: 120px;
    text-align: center;
}

.sub-titles {
    margin: 0px;
    padding-bottom: 40px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

.sub-titles-space {
    padding-left: 70px;
}

.register-button {
    padding: 15px 25px;
    color: white;
    background-color: #C271FF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-left: 639px;
}

/* Learn from the pros */
#pros_pannel > h2 {
    margin: 0px;
    padding-top: 150px;
    padding-bottom: 90px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 32px;
}

.pros-title {
    font-size: 32px;
    font-weight: 700;
    color: #C271FF;
}

/* Pros section */
.pros-members {
    display: flex;
    padding-left: 217px;
    text-align: center;
}

.pros-members-space {
    padding-left: 120px;
}

.pros-members-text {
    font-size: 16px;
    font-weight: 100;
    color: white;
    font-style: italic;
}

/* Task 3. Quotes */
#quote_section {
    height: 392px;
    background-color: #C271FF;
    color: white;
    font-size: 22px;
    font-weight: 100;
}

.quote-text > * {
    margin: 0px;
    padding-left: 40px;
}

.quote-container {
    display: flex;
    padding-left: 259px;
    padding-top: 108px;
}

.quote-person {
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: 500;
}

.quote-description {
    font-style: italic;
    padding-left: 40px;
    font-weight: 100;
}

/* 4. Videos list */
/* Video list section */
#videos_list_section {
    color: black;
    height: 624px;
}

#videos_list_section > h1 {
    margin: 0px;
    padding-top: 87px;
    padding-bottom: 75px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 32px;
}

.videos-list-title {
    font-size: 32px;
    font-weight: 700;
    color: #C271FF;
    text-align: center;
}

/* Video list container */
#videos_list_container {
    display: flex;
    padding-left: 164px;
}

/* One video list container */
.video-list-container {
    width: 255px;
}

.video-list-space {
    padding-left: 31px;
}

.video-list-pictures {
    position: relative;
}

.video-list-front {
    position: absolute;
    top: 45px;
    left: 95px;
}

.video-list-container > h2 {
    font-size: 16px;
    font-weight: 800;
    padding-left: 13px;
}

.video-list-text {
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    line-height: 1.8;
}

.video-list-reviewer {
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.video-list-reviewer {
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.video-list-reviewer > h3 {
    font-size: 14px;
    font-weight: 400;
    color: #C271FF;
    padding-left: 13px;
    margin: 0px;
}

.video-list-rating {
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.video-list-time {
    font-size: 14px;
    font-weight: 400;
    color: #C271FF;
    padding-left: 79px;
}

.video-list-rating {
    display: flex;
    align-items: center;
    padding-left: 13px;
}

.video-list-time {
    padding-left: 79px;
}

/* 5. Membership */
/* Membership section */
#membership_section {
    height: 502px;
    background-color: #071629;
}

/* Title */
#membership_section > h1 {
    margin: 0px;
    padding-top: 70px;
    padding-bottom: 58px;
    text-align: center;
    font-family: "Source Sans Pro";
    font-weight: 200;
    font-size: 32px;
}

.membership-title {
    font-size: 32px;
    font-weight: 700;
    color: #C271FF;
    text-align: center;
}

.membership-container {
    display: flex;
    padding-left: 164px;
}

.membership-board {
    width: 257px;
    text-align: center;
}

.membership-board-space {
    padding-left: 27px;
}

.membership-board > h2 {
    font-size: 18px;
    font-weight: 400;
}

.membership-board > p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.8;
}

.membership-button {
    padding: 15px 25px;
    color: white;
    background-color: #C271FF;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Source Sans Pro";
    font-weight: 400;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    margin-top: 85px;
    margin-left: 639px;
}